wsdl/mtom.wsdl

<wsdl:definitions targetNamespace="spyne.examples.flask" name="Application" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsdlsoap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap11env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12env="http://www.w3.org/2003/05/soap-envelope" xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:xop="http://www.w3.org/2004/08/xop/include" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="spyne.examples.flask" xmlns:s0="spyne.model.primitive.string">
   <wsdl:types>
      <xs:schema targetNamespace="spyne.examples.flask" elementFormDefault="qualified">
         <xs:import namespace="spyne.model.primitive.string"/>
         <xs:complexType name="getResponse">
            <xs:sequence>
               <xs:element name="getResult" type="xs:base64Binary" minOccurs="0" nillable="true"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="get">
            <xs:sequence>
               <xs:element name="account" type="s0:MandatoryString"/>
               <xs:element name="date" type="xs:date"/>
               <xs:element name="parttition" type="xs:integer"/>
               <xs:element name="tag" type="s0:MandatoryString"/>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="getResponse" type="tns:getResponse"/>
         <xs:element name="get" type="tns:get"/>
      </xs:schema>
      <xs:schema targetNamespace="spyne.model.primitive.string" elementFormDefault="qualified">
         <xs:simpleType name="MandatoryString">
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="get">
      <wsdl:part name="get" element="tns:get"/>
   </wsdl:message>
   <wsdl:message name="getResponse">
      <wsdl:part name="getResponse" element="tns:getResponse"/>
   </wsdl:message>
   <wsdl:service name="FileServices">
      <wsdl:port name="Application" binding="tns:Application">
         <wsdlsoap11:address location="http://127.0.0.1:5000/mtom"/>
      </wsdl:port>
   </wsdl:service>
   <wsdl:portType name="Application">
      <wsdl:operation name="get" parameterOrder="get">
         <wsdl:input name="get" message="tns:get"/>
         <wsdl:output name="getResponse" message="tns:getResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="Application" type="tns:Application">
      <wsdlsoap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="get">
         <wsdlsoap11:operation soapAction="get" style="document"/>
         <wsdl:input name="get">
            <wsdlsoap11:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="getResponse">
            <wsdlsoap11:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>